.border-unity{
    text-align: center;
    border: 2px soild black;
}

html{
    background-color: bisque;
}
/*NAVIGATION BAR----------------------------------------------------------*/
#nav-bar{
    color: black;
    text-decoration: none;
}
.link-btn{
    color:black;
}

.link-btn:hover {
    animation-name: blackToblue;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes blackToblue {
    from {
        color: black;
        font-size: 20px;
    }
    to {
        color: blue;
        font-size: 30px;
    }
}

/*Interstellar content----------------------------------------------------------*/

#intImage{
    width: 300px;
    
}

@font-face {
  font-family: "Cinzel";
  src: url("./fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

.intText {
  font-family: "Cinzel", serif;
  font-size: 15px;
  font-weight: 100;
  font-style: italic;
}

#intTextHeader{
  font-family: "Cinzel", serif;
  font-size: 32px;
  font-weight: 100;
  font-style: italic;
  color: black;          /* or any color you want */
  text-transform: none;  /* keeps normal casing */
  text-decoration: none;
}
#intTextHeader:hover{
    color:black
}

#intTexth2{
  font-family: "Cinzel", serif;
  font-size: 26px;
  font-weight: 100;
  font-style: italic;
  
}

/*The Conjuring Last Rites content----------------------------------------------------------*/

#conjImage{
    width: 300px
}

/*Footer content----------------------------------------------------------*/

#footer{
    text-align: center;
}

.intCastPic, .conjCastPic{
    width: 50px
} 

/*Review Page content----------------------------------------------------------*/

@font-face {
  font-family: "SSF2Color";
  src: url("./fonts/super-street-fighter-ii-large-colour.colr.ttf.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Tekken";
  src: url("./fonts/tarrgetital.ttf") format("truetype");
  font-display: swap;
}


.sfText{
  font-family: "SSF2Color", sans-serif;
    font-size: 20px;
}

.tekkenText {
  font-family: "Tekken", sans-serif;
  font-size: 20px;
}

.indented{
    margin-left: 50px;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em; /* adjust as needed */
}