#homePage{
    background-color: blanchedalmond;
  }
 
#header {
    text-align: center;
}
  
#headerHiddenText {
    color: transparent;
}
  
#header:hover #headerHiddenText {
    color: black;
    transition: color 1s ease;
}
  
#luckyText {
    color: transparent;
    transition: color 1s ease;
}

#lucky:hover + #luckyText {
    color: black;
}


#tText{
    color: transparent;
    transition: color 1s ease;
}

#mrT:hover + #tText{
    color: black
}

#charactersPage{
    background-color: beige;
} 


.monsterText {
    color: transparent;
    transition: color 1s ease;
  }
  
  .monster:hover .monsterText {
    color: black;
  }

  .personText{
    color: transparent;
    transition: color 1s ease;
  }

  .person:hover .personText{
    color: black;
  }